<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.pellerito.popularmoviesproject2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMovieTheme">

        <!-- BASE ACTIVITY LAUNCHER -->
        <activity android:name="eu.pellerito.popularmoviesproject2.activity.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DETAIL ACTIVITY -  <BACK>   -->
        <activity android:name="eu.pellerito.popularmoviesproject2.activity.DetailActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="popularmoviesproject2.pellerito.eu"
                    android:pathPrefix="/movies"
                    android:scheme="http" />
            </intent-filter>

            <!-- <BACK> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.pellerito.popularmoviesproject2.activity.BaseActivity" />

        </activity>

        <provider
            android:name=".data.Provider"
            android:authorities="eu.pellerito.popularmoviesproject2"
            android:exported="false" />


    </application>

</manifest>